doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title sigs
    link(rel='apple-touch-icon', href='/assets/favicon.png')
    link(rel='stylesheet', href='/build/main.css')

    script(src='/lib/jquery.min.js')

    link(rel='stylesheet', href='/lib/bootstrap/bootstrap.min.css')
    script(src='/lib/bootstrap/bootstrap.min.js')

    script(src='/socket.io/socket.io.js')
    script(src='/js/signalGen.js')
    script(src='/js/signalMod.js')
    script(src='/js/visualization.js')
    script(src='/js/main.js')

  body.container-fluid
    div#graphSet.row.jumbotron
      div.col-xs-6
        div#timeDomain.panel.panel-primary
          div.panel-heading
            h4.panel-title
              i.glyphicon.glyphicon-time
              span &nbsp;&nbsp; Time Domain
          div.panel-body
            canvas#timeDomainCanvas.graph Your browser does not support the canvas element.

      div.col-xs-6
        div#freqDomain.panel.panel-info
          div.panel-heading
            h4.panel-title
              i.glyphicon.glyphicon-equalizer
              span &nbsp;&nbsp; Frequency Domain
          div.panel-body
            canvas#freqDomainCanvas.graph Your browser does not support the canvas element.

      div#startStop
        button#startButton.btn.btn-circle.btn-xl.btn-success(type='button', onclick='startButtonPressed()')
          i.glyphicon.glyphicon-play
        button#stopButton.btn.btn-circle.btn-xl.btn-danger(type='button', onclick='stopButtonPressed()')
          i.glyphicon.glyphicon-pause


    div#controls.row
      div.col-md-2.col-md-offset-4
        h5 Wave Type 
        div#waveTypeSelect.typeSelect
          button.btn.btn-xs.btn-info(value='sine') Sine
          button.btn.btn-xs.btn-info(value='square') Square
          button.btn.btn-xs.btn-info(value='saw') Sawtooth
          button.btn.btn-xs.btn-info(value='tri') Triangle

      div.col-md-2
        h5 Modulation Type
        div#modTypeSelect.typeSelect
          button.btn.btn-xs.btn-warning(value='none') None
          button.btn.btn-xs.btn-warning(value='amp') Amplitude
          button.btn.btn-xs.btn-warning(value='freq') Frequency

      div.col-md-4
        h5 Base Pitch
        div#pitchSelect
          div.btn-group-vertical
            button.btn.btn-xs.btn-success(value='C') C
            button.btn.btn-xs.btn-success(value='C#') C#
          div.btn-group-vertical
            button.btn.btn-xs.btn-success(value='D') D
            button.btn.btn-xs.btn-success(value='D#') D#
          div.btn-group-vertical
            button.btn.btn-xs.btn-success.tall(value='E') E
          div.btn-group-vertical
            button.btn.btn-xs.btn-success(value='F') F
            button.btn.btn-xs.btn-success(value='F#') F#
          div.btn-group-vertical
            button.btn.btn-xs.btn-success(value='G') G
            button.btn.btn-xs.btn-success(value='G#') G#
          div.btn-group-vertical
            button.btn.btn-xs.btn-success(value='A') A
            button.btn.btn-xs.btn-success(value='A#') A#
          div.btn-group-vertical
            button.btn.btn-xs.btn-success.tall(value='B') B


    footer
      a(href='https://github.com/richard92m/sigs')
        img(src='/assets/octocat.png', width='20px')
