doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title sigs
    link(rel='apple-touch-icon', href='/assets/favicon.png')
    link(rel='stylesheet', href='/build/main.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')

    link(rel='stylesheet', href='/lib/bootstrap/bootstrap.min.css')
    script(src='/lib/bootstrap/bootstrap.min.js')

    script(src='/socket.io/socket.io.js')
    script(src='/js/signalGen.js')
    script(src='/js/main.js')

  body.container-fluid
    div#graphSet.row
      div.col-md-5.col-md-offset-1
        div#timeDomain.panel.panel-primary
          div.panel-heading
            h4.panel-title Time Domain
          div.panel-body
            canvas#timeDomainCanvas.graph Your browser does not support the canvas element.

      div.col-md-5
        div#freqDomain.panel.panel-info
          div.panel-heading
            h4.panel-title Frequency Domain
          div.panel-body
            canvas#freqDomainCanvas.graph Your browser does not support the canvas element.

    div#controls.row
      div.col-md-1.col-md-offset-1
        a#startButton.btn.btn-sm.btn-success(onclick='startButtonPressed()') &#9654;
        span#stopButton.btn.btn-sm.btn-danger(onclick='stopButtonPressed()') &#9612;&#9612;

      div.col-md-2.col-md-offset-2
        h5 Wave Type 
        div#waveTypeSelect.typeSelect
          button.btn.btn-xs.btn-info(value='sine') Sine
          button.btn.btn-xs.btn-info(value='square') Square
          button.btn.btn-xs.btn-info(value='saw') Sawtooth
          button.btn.btn-xs.btn-info(value='tri') Triangle
        //select#waveTypeSelect
          option(value='sine') Sine
          option(value='square') Square
          option(value='saw') Sawtooth
          option(value='tri') Triangle

      div.col-md-2
        h5 Modulation Type
        div#modTypeSelect.typeSelect
          button.btn.btn-xs.btn-warning(value='amp') Amplitude
          button.btn.btn-xs.btn-warning(value='freq') Frequency
        //select#modTypeSelect
          option(value='amp') Amplitude
          option(value='freq') Frequency

    footer
      a(href='https://github.com/richard92m/sigs')
        img(src='/assets/octocat.png', width='20px')
      //button.btn.btn-default(type='button', title='', data-toggle='tooltip', data-placement='top', data-original-title='asdf') ?
      //span Evan Kvidera &middot; Nick Meyer &middot; Richard Marquez 

