doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title sigs
    link(rel='stylesheet', href='/build/main.css')
    link(rel='apple-touch-icon', href='/assets/favicon.png')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')

    script(src='/socket.io/socket.io.js')
    script(src='/js/signalGen.js')
    script(src='/js/main.js')

  body
    div#controls
      span#startButton.button(onclick='startButtonPressed()') Start
      span#stopButton.button(onclick='stopButtonPressed()') Stop

      span.button Wave type: 
        select#waveTypeSelect
          option(value='sine') Sine
          option(value='square') Square
          option(value='saw') Sawtooth
          option(value='tri') Triangle

      span.button Modulation type: 
        select#modTypeSelect
          option(value='amp') Amplitude
          option(value='freq') Frequency

    div#timeDomain.graph
      canvas#timeDomainCanvas Your browser does not support the canvas element.

    //div#freqDomain.graph
      canvas#freqDomainCanvas Your browser does not support the canvas element.

