$fontStack: Monaco, 'Lucida Console', monospace

$dark-background: #333
$light-background: #555
$light-border: #aaa

footer
  position: absolute
  bottom: .5em
  right: .5em
  //text-align: right
  font-size: small
//*
  margin: 0
  padding: 0
  border: 0

//body
  background-color: $dark-background
  color: #0ff
  font-family: $fontStack
  font-size: medium

//.clear
  clear: both

//.button
  display: block
  min-width: 5em
  padding: .5em
  background-color: $light-background
  color: #000
  border-radius: .3em
  text-align: center

#startButton
  width: 5em

#stopButton
  width: 5em

.typeSelect
  button
    width: 100%
    margin-bottom: .3em

//#controls
  position: absolute
  left: 5%
  top: 72%
  height: 2em
  //color: #000
  //span
    float: left
    margin-right: 1em
    margin-bottom: 1em

#graphSet
  margin-top: 5em

//.graph
  padding: 1em
  border: 1px solid $light-border
  //background-color: $light-background
  canvas
    width: 100%
    height: 100%

.graph
  width: 100%
  height: 100%
  padding: 5px

#timeDomainCanvas
  background-color: #ebeded

#freqDomainCanvas
  background-color: #ebeded
